<h1>This is your first pet</h1>
<img src="Content/img/pet1.png" alt="" height = "200px">
<ul>

  <li>The name is @Model.GetName()</li>
  <li>Your pet has @Model.GetEnergy()% energy</li>
  <li>Your pet has @Model.GetAttention()% level of happiness</li>
  <p><a href="/view_tamagotchi/@Model.GetId()">Let's Go!</a></p>

</ul>
