@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Name your Pet</h1>
<form action="/create_pet" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text">
  <button type="submit">Adopt</button>
</form>
