<img src="Content/img/pet1.png" alt="" height = "200px">
<form action="gain_energy">
  <input type="radio" name="carrot" value="10"> carrots<br>
  <input type="radio" name="tomato" value="20"> tomatos<br>
  <input type="radio" name="redbull" value="30"> redbull<br>
  <button type="submit">Do it!</button>
</form>
